<?xml version="1.0" encoding="UTF-8" standalone="no"?><fws_config><parameter typ="config"><name>Messintervall</name></parameter><parameter typ="input"><name>Temperatur</name><unit>GradC</unit><format>6553.6</format><history>MAX</history></parameter><station intervall="100" ip="192.168.2.7:30000" name="Dach"><binding address="100" parameter="Messintervall" type="config" value="10"/><binding address="1" buffersize="100" parameter="Temperatur" type="input"/></station></fws_config>