<?xml version="1.0" encoding="UTF-8" standalone="no"?><fws_config><parameter typ="config"><name>Messintervall</name></parameter><parameter typ="input"><name>Temperatur</name><unit>GradC</unit><format>6553.6</format><history>MAX</history></parameter><parameter typ="input"><name>Windrichtung</name><unit>Richtung</unit><format>65536</format><history>AVG</history></parameter><station intervall="5" ip="192.168.2.11:502" name="Dach"><binding address="1" buffersize="100" parameter="Temperatur" type="input"/><binding address="0" parameter="Messintervall" type="config" value="0"/></station></fws_config>